<div class="jumbotron" ng-controller="addRestaurant">
    <form class="form-group row" style="align:center" ng-submit="addRestaurant()">
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">                
                    <label>Name</label><input type="text" class="form-control" ng-model="name" placeholder="Restuarant Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">
                    <label>Location</label><input type="text" class="form-control" ng-model="location" placeholder="Location">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">
                    <label>Availability</label><input type="text" class="form-control" ng-model="availability" placeholder="Number of Tables Available">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">
                    <label>Capacity</label><input type="text" class="form-control" ng-model="capacity" placeholder="Table Capacity">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">
                    <label>Cost</label><input type="text" class="form-control" ng-model="cost" placeholder="Cost per person">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">
                    <label>Cuisines</label><input type="text" class="form-control" ng-model="cuisines" placeholder="Cuisines served">
                </div>
            </div>
            <p class="text-center"><button type="submit" class="btn btn-primary">Add</button></p>
        </form>
</div>