 
<div class="jumbotron">
    <form class="form-group row" style="align:center" ng-submit="addReview()">
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">  
                    <label>Select Restuarant:</label>
                    <select class="form-control" ng-model='restName'>
                        <option ng-repeat="x in result">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-offset-3">                
                    <label>Name</label><input type="text" class="form-control" ng-model="name" placeholder="Your Name">
                </div>
            </div>
             <div class="form-group row">
                 <div class="col-xs-6 col-md-offset-3">
                  <label>Comment:</label>
                  <textarea class="form-control" rows="5" ng-model='comments'></textarea>
                 </div>
             </div>
            <div class="form-group row">
                <p class="text-center"><button type="submit" class="btn btn-primary">Add</button></p>
            </div>
        </form>
    </div>
<div ng-repeat="i in review">
    <div class="jumbotron">
        <div>Restuarant : {{i.restuarantName}}</div>
        <div>Customer : {{i.customerName}}</div>
        <div>Review : {{i.review}}</div>
    </div>
</div>